<md-dialog ng-cloak>
	<md-toolbar class="md-toolbar-tools d-flex" style="justify-content: space-between;">
		<h2>{{ rol.nuevo ? 'Nuevo':'Editar' }} rol</h2>
	</md-toolbar>

	<md-dialog-content style="width: 620px;">
		<md-content class="md-padding">

			<div layout="column" ng-cloak class="md-inline-form">
				<form name="Form" ng-submit="GuardarRol()">
					<h5>Información Básica</h5>
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Nombre</label>
							<input ng-model="rol.name" name="name" required>
							<div ng-messages="Form.name.$error">
								<div ng-message="required">Este campo no puede estar vacío</div>
							</div>
						</md-input-container>

						<md-input-container class="md-block" flex-gt-sm>
							<label>Descripción</label>
							<input ng-model="rol.description" name="description" required>
							<div ng-messages="Form.description.$error">
								<div ng-message="required">Este campo no puede estar vacío</div>
							</div>
						</md-input-container>
					</div>

					<div layout-gt-sm="row">

						<md-input-container class="md-block" flex-gt-sm>
							<label>Estatus</label>
							<md-select ng-model="rol.estatus" name="estatus" required>
								<md-option value='1'>Activo</md-option>
								<md-option value='0'>Inactivo</md-option>
							</md-select>
							<div ng-messages="Form.estatus.$error">
								<div ng-message="required">Debe seleccionar una opción</div>
							</div>
						</md-input-container>
					</div>
				</form>
			</div>
			
		</md-content>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button ng-click="respuesta(false)">Cancelar</md-button>
		<md-button ng-click="GuardarRol()" class="text-success">Guardar</md-button>
	</md-dialog-actions>
</md-dialog>